#login_register img{
    width:10%;
}
#login , #register{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width:25%;
    margin-left: auto;
    margin-right: auto;
    text-align:left;
    padding:3vw;
    border-radius: 5px;
}
#login input , #register input{
    width: 90%;
    padding:1vw;
}
#login button , #register button , #lout{
    background: linear-gradient(177deg, rgba(246,218,152,1) 0%, rgba(242,204,110,1) 35%, rgba(211,170,67,1) 100%);
    text-align: center;
    border-color:#A88734;
    width: 100%;
    padding:1vw;
    border-radius: 5px;
    font-weight: 600;
}
#lout{
    width: 50%;
    margin-top: 10%;
}
#login input:focus ,#register input:focus {
    outline-color: #A88734; 
}
.btn{
    padding: .5vw;
    width:31%;
}
#register1{
    display: none;
}

@media screen and (max-width:600px) {
    #login , #register{
        width: 70%;
    }
    #login_register .btn{
        width:70%;
    }
}